<!DOCTYPE html>
<html>
<head>
  <title>erb_layout_needing_content</title>
</head>
<body>

<p>Foo content is: <%= yield :foo %></p>

<p>Main content is: <%= yield %></p>

<p>Bar content is: <%= yield :bar %></p>

</body>
</html>
