$background-color: #023A69;

$bold-color: rgba(164, 214, 255, 1.0);
$bold-translucent: rgba(164, 214, 255, 0.4);

$highlight-color: rgba(255, 254, 214, 1.0);
$highlight-translucent: rgba(255, 254, 214, 0.4);

$faint-highlight: $highlight-translucent;

$light-background-highlight: rgb(239, 239, 239);


$body-font: "Gentium Basic";
$body-font-medium-weight: 400;
$body-font-heavy-weight: 700;

$heading-font: "Oswald";
$heading-font-light-weight: 300;
$heading-font-medium-weight: 400;
$heading-font-heavy-weight: 700;

$monospace-font: "Inconsolata";
$monospace-font-medium-weight: 400;
$monospace-font-heavy-weight: 700;
