$background-color: #023A69;
$bold-color: rgba(164, 214, 255, 1.0);
$bold-translucent: rgba(164, 214, 255, 0.4);
$highlight-color: rgba(255, 254, 214, 1.0);
$highlight-translucent: rgba(255, 254, 214, 0.4);

$heading-font: "Oswald";
$body-font: "Gentium Basic";
