@import "shared_prefix";

body {
  font-family: $body-font, serif;
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $heading-font, sans-serif;
    weight: 700;
  }
}

pre {
  font-family: $monospace-font;
  font-size: 13px;
  border: none;
  margin: 0;
  padding: 5px;
}
