<p>erb_start</p>
<%= widget Views::ErectorCoexistenceSystemSpec::FortitudeWidget.new(:name => 'Josephine') %>
<%= widget Views::ErectorCoexistenceSystemSpec::FortitudeWidget, :name => 'Amanda' %>
<p>erb_end</p>
