<p>erb_start</p>
<%= widget Views::ErectorCoexistenceSystemSpec::ErectorWidget.new(:name => 'Josephine') %>
<%= widget Views::ErectorCoexistenceSystemSpec::ErectorWidget, :name => 'Amanda' %>
<p>erb_end</p>
